*{
    box-sizing: border-box;
}
body{
    background-color: #CAE4F1;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.buttonContainer, .display{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}
.display{
    background-color: #F2E9E4;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-size: 2em;
    border: 1px solid #22223B;

}

.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 1 50%;
    padding: 20px;
    border: 5px solid #22223B;
    background-color: #9A8C98;
}

.button{
    display: flex;
    flex: 0 1 20%;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 2em;
    margin: 1px;
    cursor: pointer;
}

.operator, .resetBtn, .equals{
    background-color: #22223B;
    color: white;
}

.number{
    color: white;
    background-color: #4A4E69;
}

.zeroBtn{
    flex-grow: 2;
}